<% content_for :title do "Edit user profile" end %>


<% content_for :header do %>
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Edit User Profile</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">User</li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
</div>
<% end %>


<% content_for :alert do %>
<div class="row">
    <div class="col-12">
    <% flash.each do |type, msg| %>
        <div class="alert alert-danger">
        <%= msg %>
        </div>
    <% end %>
    </div>
</div>
<% end %>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit User</h4>
                <h6 class="card-subtitle">
                    Edit the information of the user.
                </h6>
                <%= render 'form',
                    user: @user %>
            </div>
        </div>
    </div>
</div>


<% content_for :scripts do %>
<%= javascript_pack_tag 'form_validation' %>
<% end %>
